body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-link.text-yellow-ochre-light,
.text-yellow-ochre-light,
a.text-yellow-ochre-light-hover:hover {
  color: #4e71c3;
}

.bg-penguin-white {
  background-color: #eaeef1;
}

.bg-yellow-ochre-light {
  background-color: #4e6bc3;
}

.footer-decor.footer-dark a:hover {
  color: #3d82cb;
}

.btn-link.text-dark-golden-yellow,
.text-dark-golden-yellow,
a.text-dark-golden-yellow-hover:hover {
  color: #3d7bcb;
}

.bg-parrot-green {
  background-color: #0278e060;
}

.theme-demos .all-demo,
.theme-demos .buy-theme {
  position: absolute;
  left: -80px;
  transform: translateY(-50%) translateY(-7px);
  cursor: pointer;
  z-index: 10;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.45s;
  min-width: 80px;
}

.all-demo.email {
  bottom: 265px;
}

.theme-wrapper p {
  font-size: 9px !important;
  margin: 0;
  text-align: center !important;
}
.theme-demos .all-demo,
.theme-demos .buy-theme {
  position: absolute;
  left: -80px;
  transform: translateY(-50%) translateY(-7px);
  cursor: pointer;
  z-index: 10;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.45s;
  min-width: 80px;
}

.theme-demos .all-demo .theme-wrapper i,
.theme-demos .buy-theme .theme-wrapper i {
  margin-right: 0;
  font-size: 21px;
}

.theme-demos .all-demo .theme-wrapper,
.theme-demos .buy-theme .theme-wrapper {
  padding: 0;
  position: relative;
  top: 0;
  opacity: 1;
  transition-delay: 0.3s;
}

.all-demo.call {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.theme-demos .all-demo a,
.theme-demos .buy-theme a {
  color: #232323;
  font-size: 11px;
  padding: 12px 15px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}

.padding-7-half-rem-lr {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  background: linear-gradient(45deg, black, #0000006b, #0000006e);
}

.bg-black {
  background-color: #000000bf;
}

.room .blog-post-image img,
.room .portfolio-image img {
  width: 100%;
  height: 352px;
}

.btn-link.text-tussock,
.text-tussock,
a.text-tussock-hover:hover {
  color: #4a5ad9;
}

.btn-gradient-tan-geraldine {
  background-image: linear-gradient(to right, #8195fe, #4a5ad9, #819afe);
  color: #fff;
  background-size: 200% auto;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-link.text-salmon-rose,
.text-salmon-rose,
a.text-salmon-rose-hover:hover {
  color: #5072c3;
}

.swiper-container {
  width: 100%;
  /* height: 100%; */
  min-width: 100%;
}

#features .margin-25px-bottom {
  margin-bottom: 25px;
  width: 88px;
  height: 85px;
  border-radius: 6px;
}

.feature-item.h-100.w-100 {
  /* background-color: #0000006b; */
  width: calc(100% - 10px) !important;
  height: calc(100% - 10px) !important;
  margin: 5px;
  border: 1px solid #e3e3e3;
}

.feature-item-holder:hover .feature-item.h-100.w-100 {
  border: none;
}

.feature-item-holder {
  padding: 0 !important;
}

.rooms .blog-post-image img,
.rooms .portfolio-image img {
  width: 100%;
  height: 275px;
}

.room .architecture-overlap {
  background: #000000c7;
  margin: 1rem;
  border-radius: 0px;
}

.room .tab-style-07 .nav-tabs > li.nav-item > a.nav-link {
  color: #fff;
  border-bottom: none;
  padding: 10px;
  font-size: 13px;
}

.room .tab-style-07 .nav-tabs > li.nav-item > a.nav-link.active {
  color: #fff;
  border-bottom: 3px solid #393c42;
  font-weight: bold;
}

.btn-link.text-parrot-green,
.text-parrot-green,
a.text-parrot-green-hover:hover {
  color: #007bff;
}

.empty-content {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 100px;
}

.room-read-content {
  line-height: 1.5;
  font-size: 14px;
  text-align: justify;
}

.room .white-move .swiper-slide,
.room .white-move .swiper-wrapper {
  height: 500px;
}

.py-md-0.overflow-visible.position-relative {
  z-index: 2;
}

@media (max-width: 991px) {

  .room {
    background-color: #23262d;
  }
  .room .architecture-overlap {
    background: none;
    margin: 0rem;
    border-radius: 0px;
  }
}

@media (min-width: 990px) {
  .room
    .swiper-pagination.swiper-light-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    margin-top: -58px;
    text-align: left;
    left: 3rem !important;
  }

  .room .alt-font.font-weight-300.text-white.margin-4-rem-bottom {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 12rem;
  }

  .book-room-btn {
    position: absolute;
    left: 7rem;
  }
}

.slider-navigation-style-07.swiper-button-next,
.slider-navigation-style-07.swiper-button-prev {
  background-color: rgba(23, 23, 23, 0.5);
  color: #fff;
  z-index: 900000;
  pointer-events: all;
  cursor: pointer;
}
.slider-navigation-style-05.swiper-button-next,
.slider-navigation-style-05.swiper-button-prev {
  z-index: 900000;
  pointer-events: all;
  cursor: pointer;
}

.booking-form-open {
  overflow: hidden !important;
}

.booking-form-open .mfp-container.mfp-inline-holder {
  background: #fff;
  /* overflow-y: scroll; */
  top: 200px;
}

.booking-form-open .mfp-content {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  left: 0;
  right: 0;
  bottom: 0;
  top: 5rem !important;
}

.notify-form-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.newsletter-email input {
  padding-right: 130px;
  background: #f5f5f50a;
  border-width: 2px !important;
  height: 50px;
}
.newsletter-email .required.error {
  border: 2px solid red !important;
}

.animate__fadeIn.show-out {
  display: none !important;
}

.animate__fadeIn.show-in {
  display: block !important;
}
/* 
.pointer-events {
  pointer-events: all !important;
  cursor: pointer !important;
  position: relative !important;
  background: red !important;
  z-index: 9000000000;
} */

.tp-splitted.tp-charsplit {
  color: #007bff;
}

.home-decor .tp-bullet {
  background: #4c6ebf !important;
  opacity: 0.6;
  border: 1px solid #4c6ebf !important;
  width: 10px !important;
  height: 10px !important;
}

.btn.btn-fast-yellow {
  background: #007bff;
  border-color: #007bff;
  color: #232323;
}

.btn.btn-fast-yellow:focus,
.btn.btn-fast-yellow:hover {
  background: 0 0;
  color: #007bff;
  font-weight: bold;
}

.bg-extra-medium-slate-blue {
	background-color: #00152b !important;
}

.btn.btn-box-shadow.btn-white:hover, .btn.btn-white:focus {
	background: #fff0;
	color: #fff;
}

.option-price-label {
	font-size: 10px;
	text-transform: capitalize;
	width: 100%;
}

.option-price-value {
	margin-bottom: -10px !important;
}

.page.option-price-label {
	font-size: 13px;
	margin-top: -10px;
  /* font-weight: bold; */


}
.page.option-price-label .inner-label {
	font-size: 12px;
	margin-top: -13px !important;
	font-weight: initial;
  font-style: italic;
}